section.sec.sec1
    include header
    div.container.color-white
        div.sec1__content
            div.sec1__heading
                div.sec1__heading-container
                    p.sec1__heading-top.
                        Подарите
                    p.sec1__heading-bottom.
                        детям вашего города
                    img(src="img/sec1-heading-decor.png", alt="").sec1__heading-decor.sec1__heading-decor_left
                    img(src="img/sec1-heading-decor.png", alt="").sec1__heading-decor.sec1__heading-decor_right
                img(src="img/sec1-title.png", alt="").sec1__title
                p.sec1__subtitle.
                    развлечений
                p.m.light.mb1.sec1__text
                     |организовывайте интерактивные<br> спектакли и зарабатывайте<br> 
                     span.medium.
                        от 125 000 руб./мес.
            +btn("Скачать презентацию", "yellow")(class="btn-round_download sec1__btn js-small-btn")
    img(src="img/sec1-man.png", alt="").sec1__man
    img(src="img/sec1-bottom-clouds.png", alt="").sec1__clouds