section.sec.sec3
    div.container
        div.sec3__img-wrap
            img(src="img/sec3-img-mobile-decor.png", alt="").sec3__img.sec3__img_decor
            div.sec3__img-content
                p.sec3__img-text
                    |Девять лет назад в Санкт-Петербурге мы открыли
                    |
                    span.medium.
                        один из первых
                    |
                    |в России детских интерактивных театров
                +btn("Узнать подробнее", "white")(class="sec3__btn js-small-btn")
            img(src="img/sec3-img.png", alt="").sec3__img.sec3__img_pc
            img(src="img/sec3-img-mobile1.png", alt="").sec3__img.sec3__img_mobile
    div.sec3__content
        div.container.sec3__content-container
            p.m.ta-center.
                Особенность нашего театра в том, что главные актёры на наших мероприятиях – 
            h3.ta-center.
                это сами дети
            div.sec3__row
                div.sec3__col.sec3__col_img
                    img(src="img/sec3-decor.png", alt="").sec3__decor-img
                div.sec3__col.sec3__col_text
                    p.
                        В нашем репертуаре театральные постановки, детские праздники и Дни рождения, музыкальные занятия и летние занятия по знакомству с творческими профессиями по авторским сценариям
                    p
                        |Благодаря помощи профессиональных актеров, а также качественным декорациям и реквизиту
                        |
                        span.medium.
                            дети легко вживаются в роли
                        |
                        |и весело проводят время
            h3.ta-center.sec3__video-title.
                Посмотрите, как проходят наши спектакли!
            div.sec3__video-wrap
                div.sec3__video-container
                    img(src="img/sec3-video-bg.png", alt="").sec3__video-bg
                    iframe(width="560" height="315" src="https://www.youtube.com/embed/ZLKk8hj0tlw" frameborder="0" allowfullscreen).sec3__video-frame
                    img(src="img/sec1-heading-decor.png", alt="").sec3__decor.sec3__decor_left
                    img(src="img/sec1-heading-decor.png", alt="").sec3__decor.sec3__decor_right
        img(src="img/sec4-clouds.png", alt="").sec3__clouds