section.sec.sec4
    div.container
        div.sec4__row
            div.sec4__col
                img(src="img/sec4-photos.png", alt="").sec4__img
            div.sec4__col.sec4__col_text
                div.sec4__text
                    p.
                        Наши мероприятия несут смысловую нагрузку и развивают творческие способности детей.
                    p.
                        Это выделяет наше предложение среди обычных детских развлекательных центров. 
                    p
                        |За десять лет мы организовали
                        |
                        span.medium.
                            больше 3 000 дней рождения и около 900 спектаклей
                        |
                        |для детей всех возрастов.
                    +btn("Узнать подробнее", "yellow")(class="js-small-btn")

