- var sec6List = ["Бизнес-план", "Готовые сценарии спектаклей", "Возможность изготовления костюмов, кукол и реквизита", "Фото- и видеоматериалы", "Рекламные материалы", "Помощь в подборе команды актёров", "Помощь в подготовке мероприятий, проведение репетиций дистанционно и с выездом в Ваш город"];

section.sec.sec6
    div.container.sec6__container
        h3.
            В 2017 году мы вышли на среднюю прибыль 225 000 рублей в месяц
        p.m.mb1.
            – и теперь планируем расширить сеть арт-центров<br> «Чеширский кот» по всей России
        div.sec6__content
            p.
                Станьте владельцем интерактивного театра уже через два месяца с нашей исключительной поддержкой. 
            p.light.mb1.
                Во франшизу «Чеширский кот» мы включили всё для комфортного открытия и работы арт-центра:
            div.sec6__list
                each item, index in sec6List
                    div.sec6__list-item
                        div.sec6__list-img-wrap
                            div.sec6__list-img-bg
                            img(src="img/sec6-img" + (index + 1) + ".png", alt="").sec6__list-img
                        div.sec6__list-text
                            p.
                                #{index + 1}. #{item}
            div.sec6__content-bottom
                p.medium.mb2.
                    Изучите полный состав франшизы
                +btn("Сохранить презентацию", "yellow")(class="js-small-btn")