section.sec.sec7
    div.container
        div.sec7__bg-wrap
            div.sec7__bg-text
                h3.sec7__bg-title.
                    Вы откроете свой бизнес, а мы поможем избежать типичных ошибок новичков
                p.m.sec7__bg-subtitle.
                    – первый спектакль вы поставите уже через 65 дней!
            img(src="img/sec7-decor-bg1.png", alt="").sec7__bg-img.sec7__bg-img_pc
            img(src="img/sec7-decor-bg-mobile.png", alt="").sec7__bg-img.sec7__bg-img_mobile
            img(src="img/sec7-decor-bg-top.png", alt="").sec7__decor-bg-top
    div.sec7__content
        div.container
            div.sec7__decor-top
            h3.ta-center.
                Для открытия арт-центра Вам понадобится
            p.m.ta-center.mb1
                span.medium.
                    от 600 000 рублей
                |
                |паушального взноса<br>
                |
                span.medium.
                    и от 1 млн рублей
                |
                |инвестиций в помещение, костюмы и рекламу
            div.sec7__row
                div.sec7__col
                    img(src="img/sec7-notebook.png", alt="").sec7__img
                div.sec7__col.sec7__col_text
                    div.sec7__text
                        p.mb1.
                            Узнайте этапы инвестирования и статьи расходов из нашей финансовой модели:
                        +btn("Скачать модель", "white")(class="js-small-btn")