section.sec.sec8
    div.sec8__clouds
        div.sec8__clouds-text
            h3.
                Начните подготовку к открытию
            p.m.
                детского арт-центра нового поколения прямо сейчас<br> – это легко, и ни к чему вас не обязывает
        img(src="img/decor-clouds.png", alt="").sec8__clouds-img
    div.container
        include bottom-form
    img(src="img/sec8-man.png", alt="").sec8__man